# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries
bin/

# Output directories
target/

# Rust specific
*.rs.bk
Cargo.lock
Cargo.toml.orig

# Node specific
node_modules/

# OSX
.DS_Store

# Logs
*.log

# Keys
*.pem
*.key

# Environment files
.env

# Ignore .vscode settings
.vscode/

# IntelliJ IDEA
.idea/

# Backup files
*~
